ANTHROPIC_API_KEY=
DATABASE_URL=postgres://Pantograph@V1/User:Pantograph@V1__Assessment@localhost:5432/Pantograph
API_URL=http://localhost:3001
WORKER_ADDR=http://localhost:7001
TARGET_URL=http://localhost:4000